.settings {
    display: flex; 
  
    .settingsContainer {
      flex: 19;
      margin-left: 75px;
      align-items: center;
  
      .settingsWrapper{
        align-items: center;
        display: flex;
        justify-content: center;
        height: 90vh;
      }
    }
  }