.card {
  justify-content: space-between;
  margin-top: 20px;
  // width: 250px;
  //   margin: 5px 10px;

  .cardContainer {
    min-height: 120px;
    flex: 1;
    margin: 5px 10px;
    padding: 10px 20px;
    // cursor: pointer;
    display: flex;
    flex-direction: column;
    border: 2px solid #ffe8e8;
    border-radius: 10px;
    gap: 10px;

    // &:hover {
    //   background-color: #ffe8e8;
    // }
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      font-weight: bold;
      .left {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        h1 {
          font-size: 10px;
        }
        h2 {
          color: red;
          font-size: 12px;
        }
      }
      .ready {
        margin-left: 20px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: darkorange;
      }
      .pending {
        margin-left: 20px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: aqua;
      }
      .preparation {
        margin-left: 20px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: darkkhaki;
      }
      .delivered {
        margin-left: 20px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: limegreen;
      }
      .cancelled {
        margin-left: 20px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: red;
      }
    }

    .statusChange {
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: center;
      font-size: 12px;
      font-weight: bold;

      .status {
        cursor: pointer;
        padding: 5px;
        // width: 14px;
        // height: 14px;
        border-radius: 10px;
        border: 2px solid #ffe8e8;
        color: red;

        &:hover {
          background-color: #ffe8e8;
        }
      }
      .active {
        background-color: red;
        color: white;
        border: 2px solid red;
        &:hover {
          background-color: red;
        }
      }
      .passive {
        cursor: pointer;
        padding: 5px;
        // width: 14px;
        // height: 14px;
        border-radius: 10px;
        color: aqua;
        border: 3px solid aqua;
      }
    }

    .comments {
      display: flex;
      flex-direction: column;
      max-width: 250px;
      flex-wrap: wrap;
      font-size: 12px;
      gap: 5px;
      .icon {
        font-size: 20px;
        color: red;
      }
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      gap: 5px;

      .left {
        display: flex;
        flex-direction: column;
        gap: 5px;
        span {
          display: flex;
          max-width: 150px;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          font-size: 12px;
          text-transform: capitalize;
          gap: 5px;
          .icon {
            font-size: 20px;
            color: red;
          }
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        gap: 5px;
        span {
          display: flex;
          max-width: 150px;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          font-size: 12px;
          text-transform: capitalize;
          gap: 5px;
          .icon {
            font-size: 20px;
            color: red;
          }
          .iconClick{
            cursor: pointer;
          }
          .iconGreen {
            color: green;
          }
        }
      }
    }
  }

  // .cardContainer {
  //   flex: 1;
  //   margin: 5px 10px;
  //   padding: 10px 20px;
  //   cursor: pointer;
  //   display: flex;
  //   flex-direction: column;
  //   border: 2px solid #ffe8e8;
  //   border-radius: 10px;
  //   gap: 10px;

  //   &:hover {
  //     background-color: #ffe8e8;
  //   }

  //   // &:active {
  //   //   border-color: #dd1414;
  //   // }

  //   .details {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;

  //     hr {
  //       width: 100%;
  //       border: 0.5px solid #99999980;
  //       margin: 5px;
  //     }

  //     .phone {
  //       font-size: 18px;
  //       font-weight: bold;
  //     }

  //     .delivery {
  //       font-size: 14px;
  //       font-weight: bold;
  //     }
  //     .title {
  //       font-size: 16px;
  //       font-weight: 500;
  //       text-transform: capitalize;
  //     }
  //     .address {
  //       font-size: 14px;
  //       width: 200px;
  //       text-align: center;
  //     }
  //     .price {
  //       font-size: 14px;
  //       font-weight: 300;
  //     }
  //   }
  // }
}
