.home {
  display: flex; 

  .homeContainer {
    flex: 19;
    margin-left: 75px;
    align-items: center;

    .homeWrapper{
      align-items: center;
      display: flex;
      justify-content: center;
      height: 90vh;
    }
  }
}

