.home {
  display: flex;

  .homeContainer {
    flex: 19;
    margin-left: 75px;
    align-items: center;
    height: 100vh;

    .homeTitle{
      font-size: 25px;
      color:#dd1414;
      text-align: center;
      cursor: pointer;
    }

    .homeWrapper {
      align-items: center;
      display: flex;
      flex-direction: row;
      // height: 100%;
      .left {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        flex: 1;
        padding: 25px;
        h1 {
          font-size: 20px;
        }
        p {
          font-size: 16px;
          color: #333;
        }
        .homeCard {
          flex: 1;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          padding: 10px;
          flex-direction: column;
          width: 25vw;
          max-width: 30vw;
          min-width: 25vw;
          // border: 1px solid black;

          h1 {
            font-size: 14px;
          }
          p {
            font-size: 12px;
            color: #333;
          }

          .icon {
            font-size: 50px;
            color: #dd1414;
          }
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        flex: 1;
        img{
          width: 40vw;
        }
      }
    }
  }
}
