.workday {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  .workdayTop {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

    .workdayData {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 20px;
      gap: 10px;
      justify-content: center;
      align-items: center;
      .workdayDataTop {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:20px;
        // .workdayDataTopLeft {
        //   display: flex;
        //   flex-direction: row;
        //   flex-wrap: wrap;
        //   gap: 10px;
        // }
        // .workdayDataTopRight {
        //   display: flex;
        //   flex-direction: row;
        //   flex-wrap: wrap;
        //   gap: 10px;
        // }
      }
      .workdayDataBottom {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
      }

      .showProducts{
        margin-top: 10px;
        button{
          display: flex;
          align-items: center;
          background-color: #dd1414;
          color: white;
          border: none;
          font-size: 14px;
          font-weight: 500;
          padding: 10px;
          border-radius: 15px;
          cursor: pointer;
          width: fit-content;
    
          &:hover {
            background-color: #ff1c1c;
          }
        }
      }
    }
    .addOrderButton {
      display: flex;
      align-items: center;
      background-color: #dd1414;
      color: white;
      border: none;
      font-size: 20px;
      font-weight: 500;
      padding: 10px;
      border-radius: 15px;
      cursor: pointer;
      width: fit-content;

      &:hover {
        background-color: #ff1c1c;
      }
    }
  }

  .workdayBottom{
    display: flex;
    flex-direction: column;
    gap:50px;
    margin-bottom: 50px;
    .activeOrders {
      border: 1px solid #999;
      // background-color: #f0f0f0;
      border-radius: 10px;
      padding: 10px 0;
      margin: 0px 50px;
      .title{
        margin-left: 20px;
        width: 100px;
        // text-align: center;
        padding: 5px;
        font-size: 14px;
        font-weight: bold;
        // border: 2px solid #333;
        border-radius: 10px;
      }
      .list{
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
      flex-wrap: wrap;}
    }
  }

  .workdayRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    .workdayStats {
      height: 30px;
    }
  }

  .orderItem {
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 5px;
    margin: 10px auto;
  }
}
