.newOrder {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  display: flex;
  align-items: center;
  // overflow-y: auto;

  .newOrderContainer {
    background-color: white;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;

    .cartNewContainer {
      padding: 10px 100px;
      h1 {
        font-size: 14px;
      }
      .cartDelete {
        color: #dd1414;
        cursor: pointer;
      }
      .cartItems {
        list-style: none;
        padding: 0;
        margin-top: 10px;
        display: flex;
        flex-direction: column;

        .cartItem {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          padding: 10px;
          .itemLeft {
            display: flex;
            flex-direction: row;
            gap: 20px;

            img {
              width: 40px;
              height: 40px;
              object-fit: contain;
            }

            .details {
              h1 {
                font-size: 16px;
                text-transform: capitalize;
              }
              .cartDetails {
                font-size: 14px;
                color: #333;
              }
              .price {
                font-size: 12px;
              }
            }
          }
          .itemRight {
            display: flex;
            align-items: center;
          }
        }
      }
    }

    .productsContainer {
      margin: 0 7.5vw;

      h1 {
        font-size: 14px;
        cursor: pointer;
      }
    }

    .customerContainer {
      margin: 0 7.5vw;

      h1 {
        font-size: 14px;
        cursor: pointer;
      }
    }

    .categoriesContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        justify-content: center;
        margin: 0;
        padding: 0;

        .categoryItem {
          padding: 10px;
          // margin-bottom: 15px;
          display: flex;
          flex-direction: column;
          gap: 5px;

          li {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .icon {
              padding: 10px;
              border: 2px solid #ffe8e8;
              border-radius: 50%;
              font-size: 18px;
              color: #dd1414;

              &:hover {
                background-color: #ffe8e8;
              }
            }

            // .categoryIcon{
            //   padding: 10px;
            //   border: 2px solid #ffe8e8;
            //   border-radius: 50%;
            //   font-size: 18px;
            //   color: #dd1414;
            //   height: 25px;

            //   &:hover {
            //     background-color: #ffe8e8;
            //   }
            // }
          }

          .categoryTitle {
            font-size: 10px;
            font-weight: bold;
            color: #999;
            margin-bottom: 5px;
            text-align: center;
            text-transform: capitalize;
          }
        }

        // .active{
        //   li{
        //     .icon{
        //       color: white;
        //       background-color: #dd1414;

        //       &:hover {
        //         background-color: #dd1414;
        //       }
        //     }
        //   }

        //   .categoryTitle {
        //     font-size: 10px;
        //     font-weight: bold;
        //     color: #dd1414;
        //     margin-bottom: 5px;
        //     text-align: center;
        //   }
        // }
      }
    }

    .top {
      padding: 10px;
      margin: 20px;
      display: flex;
      justify-content: space-between;

      .info {
        display: flex;
        flex-direction: column;

        h1 {
          font-size: 20px;
        }
      }

      .closeButton {
        background-color: transparent;
        border: none;
        font-size: 25px;
        cursor: pointer;
        &:hover {
          color: #dd1414;
        }
      }
    }

    .editButton {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      .editOrderButton {
        display: flex;
        align-items: center;
        background-color: #dd1414;
        color: white;
        border: none;
        font-size: 20px;
        font-weight: 500;
        padding: 10px;
        border-radius: 15px;
        cursor: pointer;
        width: fit-content;

        &:hover {
          background-color: #ff1c1c;
        }
      }
    }

    .productsWrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      margin: 0 7.5vw;
      margin-bottom: 50px;
      padding: 20px 0;
      align-items: center;
      flex-wrap: wrap;
    }

    .modalWrapper {
      // align-items: center;
      display: flex;
      flex-direction: column;
      // flex-wrap: wrap;
      justify-content: center;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      margin: 0 7.5vw;
      padding: 20px 0;
      // height: 90vh;
      .inputContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10vw;
        margin: 0 10%;
        h1 {
          font-size: 18px;
          text-align: center;
        }

        hr {
          border: 0.25px solid #999;
          width: 80%;
          margin: 10px auto;
        }

        form {
          display: flex;
          flex-wrap: wrap;
          padding-top: 20px;
          gap: 30px;
          justify-content: space-between;
          .formInput {
            width: 40%;

            label {
              display: flex;
              align-items: center;
              gap: 10px;

              .icon {
                cursor: pointer;
              }
            }

            input {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
            }
            textarea {
              width: 100%;
            }
          }
          .checkoutButton {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 20px;

            button {
              background-color: #dd1414;
              color: white;
              border: none;
              font-weight: 500;
              padding: 10px;
              border-radius: 15px;
              cursor: pointer;
              width: fit-content;

              &:hover {
                background-color: #ff1c1c;
              }
            }
          }
        }
      }
    }
  }
}
