.sidebar {
  flex: 1;
  border-right: 0.5px solid #efecec;
  min-height: 100%;
  width: 75px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;

  .top {
    /* padding-left: 10px; */
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .item {
        padding: 10px;
        margin-bottom: 15px;

        &:hover {
          background-color: #ffe8e8;
        }

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px;
          cursor: pointer;

          .icon {
            font-size: 18px;
            color: #dd1414;
          }
        }

        .title {
          font-size: 10px;
          font-weight: bold;
          color: #999;
          margin-bottom: 5px;
          text-align: center;
        }
      }
    }
  }

  .bottom {
    /* padding-left: 10px; */
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .item {
        padding: 10px;
        margin-bottom: 15px;

        &:hover {
          background-color: #ffe8e8;
        }

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px;
          cursor: pointer;

          .icon {
            font-size: 18px;
            color: #dd1414;
          }
        }

        .title {
          font-size: 10px;
          font-weight: bold;
          color: #999;
          margin-bottom: 5px;
          text-align: center;
        }
      }
    }
  }
}
