.options {
  display: flex;
  width: 100%;
  .optionsContainer {
    width: 100%;
    .optionsBox {
      padding: 2vw;
      .optionsItem {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2vw;
        padding: 2vw;
        justify-content: center;
      }
    }
  }
}
